Repository WildCodeSchool-CDA-FT-2024-09/JS-CDA-Projet-2-Team-D, pull requests merged in 2024-12, with the labels that each got.

#58 feat/api_email: sending an HTML email via the /send-email POST endpoint works
  api_email/.env_sample
  api_email/bruno/Email/bruno.json
  api_email/bruno/Email/root.bru
  api_email/bruno/Email/send-email.bru
  api_email/package.json
  api_email/src/index.ts
  api_email/src/utils/transporter.ts
Labels: api_email

#59 add config test and add getBank test
  api_data/Dockerfile
  api_data/jest.config.ts
  api_data/package.json
  api_data/src/bank/bank.test.ts
  api_data/src/db/seed.ts
  api_data/src/index.ts
  api_data/src/schema.ts
  api_data/tests/jest.setup.ts
  docker-compose.test.yml
Labels: api_data

#60 Fix relations
  api_data/src/budget/budget.entity.ts
  api_data/src/budgetCommission/budgetCommission.entity.ts
  api_data/src/commission/commission.entity.ts
  api_data/src/db/data-source.ts
  api_data/src/db/seed.ts
  api_data/src/invoice/invoice.entity.ts
  api_data/src/invoice/invoice.type.ts
  api_data/src/user/user.entity.ts
Labels: api_data

#66 feat/client: added basic router + MUI (font set to Montserrat)
  client/index.html
  client/package.json
  client/public/vite.svg
  client/src/App.css
  client/src/App.tsx
  client/src/assets/react.svg
  client/src/global.css
  client/src/index.css
  client/src/main.tsx
Labels: client

#68 feat/client: basic user management page with static data using MUI table
  client/src/components/BtnCrud.tsx
  client/src/main.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/types/BtnCrudType.ts
Labels: client

#70 S4 us63 client header/footer
  client/public/Logo.svg
  client/public/Logo_seul.svg
  client/src/App.tsx
  client/src/components/Avatar/Avatar.tsx
  client/src/components/Footer/Footer.tsx
  client/src/components/Header/Header.tsx
  client/src/components/footer/footer.css
  client/src/components/header/Header.css
Labels: client

#72 feat/client: codegen working + user list
  client/.dockerignore
  client/.env_sample
  client/Dockerfile
  client/codegen-config.ts
  client/package.json
  client/src/App.tsx
  client/src/main.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/schema/queries.ts
  client/src/services/connection.ts
  client/src/types/graphql-types.ts
  client/vite.config.ts
  docker-compose.yml
  nginx.conf
Labels: client

#73 feat/client: creation of Menu
  client/src/App.tsx
  client/src/components/menuSideBar/MenuSideBar.css
  client/src/components/menuSideBar/MenuSideBar.tsx
Labels: client

#79 fix/client: layout in a fixed container + error page
  client/src/App.tsx
  client/src/components/footer/Footer.tsx
  client/src/components/footer/footer.css
  client/src/components/header/Header.tsx
  client/src/components/menuSideBar/MenuSideBar.css
  client/src/components/menuSideBar/MenuSideBar.tsx
  client/src/main.tsx
  client/src/pages/ErrorPage.tsx
Labels: client

#83 feat/client : add navigate for each type of user
  client/src/components/menuSideBar/MenuSideBar.tsx
  client/src/global.css
Labels: client

#85 fix-seed : debitCredit for category and date for invoice
  api_data/src/db/seed.ts
  api_data/src/invoice/invoice.entity.ts
  api_data/src/invoice/invoice.type.ts
Labels: api_data

#89 fix/api_data: fixed seeder category id
  api_data/src/db/seed.ts
  api_data/src/subcategory/subcategory.entity.ts
Labels: api_data

#90 S4 us82 register invoice
  api_data/src/bankAccount/bank_account.entity.ts
  api_data/src/category/category.resolver.ts
  api_data/src/creditDebit/creditDebit.resolver.ts
  api_data/src/db/seed.ts
  api_data/src/invoice/invoice.entity.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/invoice/invoice.schema.ts
  api_data/src/vat/vat.resolver.ts
  client/package.json
  client/src/main.tsx
  client/src/pages/commission/Invoice.tsx
  client/src/schema/queries.ts
Labels: api_data, client

#91 S4 us65 home page user
  api_data/src/invoice/invoice.resolver.ts
  client/package.json
  client/src/App.tsx
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/main.tsx
  client/src/pages/commission/Invoice.tsx
  client/src/pages/homePageCommission/HomePageCommission.tsx
  client/src/schema/queries.ts
Labels: api_data, client

#93 S4 us92 homepage
  client/src/App.tsx
  client/src/components/BtnLink.tsx
  client/src/components/header/Header.tsx
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/administrator/Administrator.tsx
  client/src/pages/administrator/user/ManageUser.tsx
Labels: client

#98 S4 us84 add user
  api_data/package.json
  api_data/src/role/role.resolver.ts
  api_data/src/schema.ts
  api_data/src/user/user.resolver.ts
  api_data/src/user/user.type.ts
  client/package.json
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/schema/mutations.ts
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
  client/src/types/types.ts
Labels: client

#100 S5 us97 snackbar
  client/src/App.tsx
  client/src/context/NotificationContext.tsx
  client/src/hooks/useNotification.tsx
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/types/types.ts
Labels: client

#102 S4 us82 register invoice client
  api_data/src/db/seed.ts
  client/package.json
  client/src/components/BtnUpload.tsx
  client/src/pages/commission/Invoice.tsx
  client/src/types/graphql-types.ts
Labels: client

#103 S5 us101 users pagination
  api_data/src/user/user.resolver.ts
  api_data/src/user/user.type.ts
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/schema/queries.ts
Labels: api_data, client

#105 refactor/client: updated secondary color + header background color
  client/src/App.tsx
  client/src/components/header/Header.css
  client/src/components/header/Header.tsx
Labels: client

#109 fix/api_data: change name of budget to exercise and budgetCommission …
  api_data/src/budget/budget.entity.ts
  api_data/src/budget/budget.type.ts
  api_data/src/budgetCommission/budgetCommission.entity.ts
  api_data/src/commission/commission.entity.ts
  api_data/src/db/data-source.ts
  api_data/src/db/seed.ts
  api_data/src/exercise/exercise.entity.ts
  api_data/src/exercise/exercise.type.ts
Labels: api_data

#112 S5 us108 adduser commission
  api_data/src/commission/commission.entity.ts
  api_data/src/db/seed.ts
  api_data/src/user/user.entity.ts
  api_data/src/user/user.resolver.ts
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/schema/mutations.ts
  client/src/schema/queries.ts
Labels: api_data, client

#114 feat/api_email: added basic EJS template
  api_email/src/index.ts
  api_email/src/views/email-template.ejs
Labels: api_email

#115 S5 us107 as an accountant add subcategories
  api_data/src/subcategory/subcategory.resolver.ts
  client/src/components/displayCategory/DisplayCategory.tsx
  client/src/components/displayCategory/DisplayCategorySubcategory.tsx
  client/src/pages/accountant/category/ManageCategory.tsx
  client/src/schema/mutations.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#120 S5 us65 commission home page
  api_data/src/budget/budget.entity.ts
  api_data/src/commission/commission.entity.ts
  api_data/src/commission/commission.resolver.ts
  api_data/src/db/seed.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/invoice/paginatedInvoice.type.ts
  client/package.json
  client/src/App.tsx
  client/src/components/BtnLink.tsx
  client/src/components/BtnUpload.tsx
  client/src/components/RoleProtectedRoute.tsx
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/pages/homePageCommission/HomePageCommission.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
  client/src/utils/dateUtils.ts
Labels: api_data, client

#123 S6 US122 Soft delete and restore user
  api_data/src/user/user.entity.ts
  api_data/src/user/user.resolver.ts
  api_data/src/utilities/responseStatus.ts
  client/src/components/BtnCrud.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/schema/mutations.ts
  client/src/schema/queries.ts
  client/src/types/BtnCrudType.ts
Labels: api_data, client

#126 S6 us65 gauge on commission home page
  api_data/src/budget/budget.resolver.ts
  api_data/src/commission/commission.resolver.ts
  api_data/src/db/seed.ts
  api_data/src/invoice/paginatedInvoice.type.ts
  api_data/src/schema.ts
  api_data/src/status/status.resolver.ts
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/pages/homePageCommission/HomePageCommission.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#125 Links in the drawer
  client/src/components/drawer/Drawer.tsx
Labels: client

#127 US124 added GraphQL authentication with login query
  api_data/.env_sample
  api_data/package.json
  api_data/src/index.ts
  api_data/src/user/user.resolver.ts
Labels: api_data

#132 Init api_upload PHP service
  api_upload/.coveralls.yml
  api_upload/.env_sample
  api_upload/.github/dependabot.yml
  api_upload/.github/workflows/tests.yml
  api_upload/.gitignore
  api_upload/.htaccess
  api_upload/.prettierrc
  api_upload/CONTRIBUTING.md
  api_upload/Dockerfile
  api_upload/README.md
  api_upload/app/dependencies.php
  api_upload/app/middleware.php
  api_upload/app/repositories.php
  api_upload/app/routes.php
  api_upload/app/settings.php
  api_upload/bruno/Upload/bruno.json
  api_upload/bruno/Upload/root.bru
  api_upload/bruno/Upload/upload.bru
  api_upload/composer.json
  api_upload/composer.lock
  api_upload/config/database.php
  api_upload/eslint.config.mjs
  api_upload/logs/README.md
  api_upload/nginx.conf
  api_upload/package.json
  api_upload/phpcs.xml
  api_upload/phpstan.neon.dist
  api_upload/phpunit.xml
  api_upload/public/.htaccess
  api_upload/public/index.php
  api_upload/public/info.php
  api_upload/src/Application/Actions/Action.php
  api_upload/src/Application/Actions/ActionError.php
  api_upload/src/Application/Actions/ActionPayload.php
  api_upload/src/Application/Actions/User/ListUsersAction.php
  api_upload/src/Application/Actions/User/UserAction.php
  api_upload/src/Application/Actions/User/ViewUserAction.php
  api_upload/src/Application/Handlers/HttpErrorHandler.php
  api_upload/src/Application/Handlers/ShutdownHandler.php
  api_upload/src/Application/Middleware/SessionMiddleware.php
  api_upload/src/Application/ResponseEmitter/ResponseEmitter.php
  api_upload/src/Application/Settings/Settings.php
  api_upload/src/Application/Settings/SettingsInterface.php
  api_upload/src/Domain/DomainException/DomainException.php
  api_upload/src/Domain/DomainException/DomainRecordNotFoundException.php
  api_upload/src/Domain/User/User.php
  api_upload/src/Domain/User/UserNotFoundException.php
  api_upload/src/Domain/User/UserRepository.php
  api_upload/src/Infrastructure/Persistence/User/InMemoryUserRepository.php
  api_upload/tests/Application/Actions/ActionTest.php
  api_upload/tests/Application/Actions/User/ListUserActionTest.php
  api_upload/tests/Application/Actions/User/ViewUserActionTest.php
  api_upload/tests/Domain/User/UserTest.php
  api_upload/tests/Infrastructure/Persistence/User/InMemoryUserRepositoryTest.php
  api_upload/tests/TestCase.php
  api_upload/tests/bootstrap.php
  api_upload/var/cache/.gitignore
  docker-compose.yml
  nginx.conf
Labels: api_upload

#139 fix/api_upload: changed file to receipt for file field name
  api_upload/app/routes.php
Labels: api_upload

#135 S6 us131 display and choose commission on home page commission
  api_data/src/db/seed.ts
  client/src/App.tsx
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/components/header/Header.tsx
  client/src/main.tsx
  client/src/pages/homePageCommission/HomePageCommission.tsx
  client/src/types/graphql-types.ts
Labels: client

#142 US141 Generate invoice number
  api_upload/app/routes.php
  api_upload/bruno/Upload/upload.bru
  docker-compose.yml
Labels: api_upload

#146 S7 US124 auth api data
  api_data/src/db/seed.ts
  api_data/src/index.ts
  api_data/src/schema.ts
  api_data/src/user/user.resolver.ts
  api_data/src/user/user.type.ts
Labels: api_data

#150 S7 US149 client auth
  client/src/App.tsx
  client/src/components/LogoutBtn.tsx
  client/src/components/RoleProtectedRoute.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/context/AuthContext.tsx
  client/src/context/UserContext.tsx
  client/src/hooks/useUser.ts
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/schema/mutations.ts
  client/src/schema/queries.ts
Labels: client

#144 S5 us82 register invoice validation
  api_data/src/category/category.entity.ts
  api_data/src/creditDebit/creditDebit.entity.ts
  api_data/src/invoice/invoice.entity.ts
  api_data/src/invoice/invoice.schema.ts
  api_data/src/invoice/invoice.type.ts
  api_data/src/subcategory/subcategory.entity.ts
  api_upload/app/routes.php
  api_upload/bruno/UPLOAD_INVOICE/bruno.json
  api_upload/bruno/Upload/upload.bru
  client/Dockerfile
  client/package.json
  client/src/components/form/FormSelect.tsx
  client/src/components/form/FormSelectVat.tsx
  client/src/components/form/FormTextField.tsx
  client/src/pages/commission/Invoice.tsx
  client/src/types/InvoiceInputType.ts
  client/src/types/graphql-types.ts
  client/src/utils/invoiceValidation.ts
  docker-compose.yml
Labels: client, api_upload

#153 feat/client: added show/hide password on the login form
  client/src/pages/Login.tsx
Labels: client

#154 FIX AuthContext.tsx
  client/src/context/AuthContext.tsx
Labels: client

#155 FIX Apollo Client missing credentials
  client/src/App.tsx
  client/src/context/AuthContext.tsx
  client/src/services/connection.ts
Labels: client

#157 Us77 refacto as an accountant update categories
  client/src/components/displayCategorySubcategory/DisplayCategorySubcategory.tsx
  client/src/components/updateCategory/UpdateCategory.tsx
  client/src/types/graphql-types.ts
Labels: client

#158 S7 US156 manage exercises
  api_data/src/db/seed.ts
  api_data/src/exercise/exercise.resolver.ts
  api_data/src/schema.ts
  client/src/components/drawer/Drawer.tsx
  client/src/main.tsx
  client/src/pages/Login.tsx
  client/src/pages/administrator/exercise/ManageExercise.tsx
  client/src/schema/queries.ts
  client/src/utils/dateUtils.ts
Labels: api_data, client

#160 S7 US159 filename in api_upload
  api_data/src/invoice/invoice.entity.ts
  api_upload/.env_sample
  api_upload/app/routes.php
  client/src/pages/commission/Invoice.tsx
  docker-compose.yml
Labels: api_upload

#161 Us107 refacto as an accountant add subcategories
  client/src/components/addSubcategory/AddSubcategory.tsx
  client/src/components/displayCategorySubcategory/DisplayCategorySubcategory.tsx
Labels: client
