Repository WildCodeSchool-CDA-FT-2024-09/JS-CDA-Projet-2-Team-D, pull requests merged in 2025-02, with the labels that each got.

#330 feat/api_data: added an index to the email column
  api_data/src/user/user.entity.ts
Labels: api_data

#331 refactor/api_data: better logic inside createNewUser mutation
  api_data/src/user/user.resolver.ts
Labels: api_data

#332 refactor/api_email: removed extra email variable in /send-email-password route
  api_email/src/index.ts
  api_email/src/views/email-template-password.ejs
Labels: api_email

#333 Fix accountant invoice number for rejection email
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/utilities/emailUtils.ts
  client/.env_sample
  client/src/pages/accountant/DetailInvoice.tsx
Labels: api_data

#329 Fix/Client adding the invoice download link in environment variable
  client/.env_sample
  client/src/pages/accountant/DetailInvoice.tsx
Labels: client

#334 refactor/api_upload: better database handling using DI
  api_upload/app/dependencies.php
  api_upload/app/routes.php
  api_upload/app/settings.php
Labels: api_upload

#335 refactor/client: not need of password in query getUsers
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: client
