Repository WildCodeSchool-CDA-FT-2024-09/JS-CDA-Projet-2-Team-D, pull requests merged in 2025-01, with the labels that each got.

#163 Us133 refacto as an accountant update subcategories
  api_data/src/category/category.resolver.ts
  client/src/components/displayCategorySubcategory/DisplayCategorySubcategory.tsx
  client/src/components/updateSubcategory/UpdateSubcategory.tsx
Labels: api_data, client

#164 refactor/client: manage exercises page with collapsible table
  client/src/components/exercise/ExerciseRow.tsx
  client/src/pages/administrator/exercise/ManageExercise.tsx
Labels: client

#165 Fix DateTimeISO typed as "any" by codegen
  client/codegen-config.ts
Labels: client

#167 S8 US166 create exercise
  api_data/src/exercise/exercise.entity.ts
  api_data/src/exercise/exercise.resolver.ts
  api_data/src/exercise/exercise.type.ts
  client/src/main.tsx
  client/src/pages/administrator/exercise/CreateExercise.tsx
  client/src/schema/mutations.ts
  client/src/utils/dateUtils.ts
  client/src/utils/exerciseValidation.ts
Labels: api_data, client

#169 refactor/api_upload: filename
  api_upload/.env_sample
  api_upload/app/routes.php
Labels: api_upload

#174 S7 us106 admin budget overview
  api_data/src/budget/budget.resolver.ts
  api_data/src/budget/budget.type.ts
  client/package.json
  client/src/components/BudgetOverview/BudgetOverview.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/main.tsx
  client/src/pages/administrator/Administrator.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#177 fix/api_upload: generate new invoice number when there is no previous…
  api_upload/app/routes.php
Labels: api_upload

#175 S8 US170 refactor dataset seeder
  api_data/src/db/seed_dataset.ts
  client/src/types/graphql-types.ts
Labels: api_data

#180 modify look of pie chart and the format of value inside
  client/src/components/BudgetOverview/BudgetOverview.tsx
  client/src/types/graphql-types.ts
Labels: client

#181 Fix US170 dataset seeder subcategory
  api_data/src/category/category.entity.ts
  api_data/src/db/seed_dataset.ts
  api_data/src/subcategory/subcategory.entity.ts
Labels: api_data

#187 S8 us173 as an accountant display invoices to be validated or rejected
  api_data/src/invoice/invoice.resolver.ts
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
  client/src/main.tsx
  client/src/pages/accountant/HomePageAccountant.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#189 Refactor login page + Drawer
  api_data/src/db/seed_dataset.ts
  client/src/components/drawer/Drawer.tsx
  client/src/components/drawer/DrawerMenuItem.tsx
  client/src/pages/Login.tsx
Labels: client

#195 Fixs9 us76 as an accountant add a category
  api_data/src/category/category.resolver.ts
  client/src/components/addCategory/AddCategory.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#192 fix/client: budget amount is now rounded in the exercises page
  client/src/components/exercise/ExerciseRow.tsx
Labels: client

#200 refactor/client: new PageTitle component
  client/src/components/PageTitle.tsx
  client/src/pages/administrator/bank/BankAccount.tsx
  client/src/pages/administrator/exercise/CreateExercise.tsx
  client/src/pages/administrator/exercise/ManageExercise.tsx
  client/src/pages/administrator/exercise/SetupBudgets.tsx
  client/src/pages/administrator/invoice/InvoiceOverview.tsx
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/pages/administrator/user/UpdateUser.tsx
Labels: client

#204 refactor/api_upload: added new field amount_with_vat
  api_upload/app/routes.php
Labels: api_upload

#203 Us197 as an accountant display budget statement commissions
  client/src/components/displayBudgetByCommissionForAccountant/displayBudgetByCommissionForAccountant.tsx
  client/src/components/displayCategorySubcategory/DisplayCategorySubcategory.tsx
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/pages/accountant/HomePageAccountant.tsx
Labels: api_data, client

#210 updeate HomePageAccountant
  client/src/pages/accountant/HomePageAccountant.tsx
Labels: client

#206 Fix modify invoice table for commission amount recuperation
  api_data/src/commission/commission.resolver.ts
  api_data/src/db/seed_dataset.ts
  client/index.html
  client/public/Logo_seul.ico
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/components/budgetOverview/BudgetOverview.tsx
  client/src/main.tsx
  client/src/pages/commission/HomePageCommission.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#213 add unit test to dateUtils and remove usefull app test
  .github/workflows/static-test.yml
  .husky/pre-commit
  client/package.json
  client/src/App.test.tsx
  client/src/pages/commission/HomePageCommission.tsx
  client/src/test/dateUtils.test.tsx
  client/vite.config.ts
  package.json
Labels: client

#216 S9 US207 authorized decorator
  api_data/src/bank/bank.resolver.ts
  api_data/src/bankAccount/bank_account.resolver.ts
  api_data/src/budget/budget.resolver.ts
  api_data/src/category/category.resolver.ts
  api_data/src/commission/commission.resolver.ts
  api_data/src/creditDebit/creditDebit.resolver.ts
  api_data/src/exercise/exercise.resolver.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/role/role.resolver.ts
  api_data/src/schema.ts
  api_data/src/status/status.resolver.ts
  api_data/src/subcategory/subcategory.resolver.ts
  api_data/src/user/user.resolver.ts
  api_data/src/vat/vat.resolver.ts
Labels: api_data

#218 S9 US217 refactor autogen password
  api_data/src/user/user.resolver.ts
  api_data/src/user/user.type.ts
  api_data/src/utilities/generatePassword.ts
  client/src/pages/administrator/user/CreateUser.tsx
  client/src/pages/administrator/user/UpdateUser.tsx
  client/src/types/graphql-types.ts
Labels: api_data, client

#220 S9 US219 reset password
  api_data/src/user/user.entity.ts
  api_data/src/user/user.resolver.ts
  api_data/src/utilities/emailUtils.ts
  api_email/bruno/Email/reset password.bru
  api_email/src/index.ts
  api_email/src/views/email-template-reset-password.ejs
  client/src/App.tsx
  client/src/main.tsx
  client/src/pages/ILostMyPassword.tsx
  client/src/pages/Login.tsx
  client/src/pages/ResetPassword.tsx
  client/src/schema/mutations.ts
  client/src/types/graphql-types.ts
  client/src/utils/emailValidation.ts
  client/src/utils/resetPasswordValidation.ts
Labels: api_data, api_email, client

#223 S10 US222 get file
  api_upload/app/routes.php
  api_upload/bruno/Upload/get-file.bru
Labels: api_upload

#224 hotfix/api_data: missing import
  api_data/src/user/user.resolver.ts
Labels: api_data

#227 add link for accountant to invoiceOverview
  client/src/components/drawer/Drawer.tsx
  client/src/main.tsx
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#226 refactor/client: one component UserForm for both create and update user
  client/src/main.tsx
  client/src/pages/administrator/user/UpdateUser.tsx
  client/src/pages/administrator/user/UserForm.tsx
  client/src/utils/userValidation.ts
Labels: client

#228 add drawer mobile version
  client/src/components/drawer/Drawer.tsx
  client/src/components/header/Header.tsx
Labels: client

#232 S10 us229 integration test avatar component
  .github/workflows/integration-test.yml
  .github/workflows/predeploy.yml
  .github/workflows/static-test.yml
  client/package.json
  client/src/components/avatar/avatar.integration.test.tsx
  client/src/test/dateUtils.test.ts
  client/vite.config.ts
Labels: client

#240 S9 us171 as an accountant validate an invoice and add bank details
  api_data/src/bankAccount/bank_account.entity.ts
  api_data/src/creditDebit/creditDebit.entity.ts
  api_data/src/creditDebit/creditDebit.resolver.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/subcategory/subcategory.resolver.ts
  api_upload/app/2025_000001.pdf
  api_upload/app/2025_000001.png
  api_upload/app/2025_000002.pdf
  api_upload/app/2025_000003.png
  api_upload/app/2025_000004.png
  api_upload/app/2025_000005.png
  client/src/components/addBankAccount/AddBankAccount.tsx
  client/src/components/displayBudgetByCommissionForAccountant/DisplayBudgetByCommissionForAccountant.tsx
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
  client/src/main.tsx
  client/src/pages/accountant/DetailInvoice.tsx
  client/src/schema/mutations.ts
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#239 add commission name to commission title
  client/index.html
  client/src/App.tsx
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/main.tsx
  client/src/pages/administrator/Administrator.tsx
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#238 refactor/client: new user must be part of at least one commission
  client/src/pages/administrator/user/UserForm.tsx
  client/src/utils/userValidation.ts
Labels: client

#251 refactor/api_data: hide manage exercise button when exercise is finished
  client/src/components/exercise/ExerciseRow.tsx
Labels: client

#247 add redis cache to getinvoicebycommissionid
  api_data/src/commission/commission.resolver.ts
Labels: api_data

#249 User and Bank inetgration tests
  api_data/src/bank/bank.test.ts
  api_data/src/user/user.test.ts
Labels: api_data

#244 Refactor user list + added roles
  client/src/components/user/UserRow.tsx
  client/src/pages/administrator/user/ManageUser.tsx
Labels: client

#256 S10 us343 test bankaccount
  client/package.json
  client/src/components/bank/BankAccountRow.tsx
  client/src/components/bank/bankAccount.integration.test.tsx
  client/src/hooks/useBankAccount.ts
  client/src/pages/administrator/bank/BankAccount.tsx
Labels: client

#258 add invoice search bar in homepagecommission
  client/src/components/SearchBar.tsx
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#254 remove comment and fix error message translation
  api_data/src/category/category.resolver.ts
  api_data/src/commission/commission.resolver.ts
  api_data/src/exercise/exercise.resolver.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/subcategory/subcategory.resolver.ts
  client/src/App.tsx
  client/src/global.css
  client/src/types/InvoiceInputType.ts
Labels: api_data, client

#257 Feat/api_data and client as an accountant update balance and refacto invoice validation
  api_data/src/bankAccount/bank_account.resolver.ts
  api_upload/app/2025_000001.pdf
  api_upload/app/2025_000001.png
  api_upload/app/2025_000002.pdf
  api_upload/app/2025_000003.png
  api_upload/app/2025_000004.png
  api_upload/app/2025_000005.png
  client/src/components/addBankAccount/AddBankAccount.tsx
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
  client/src/pages/accountant/DetailInvoice.tsx
  client/src/schema/mutations.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#261 add searchbar to invoice overview
  api_data/src/commission/commission.resolver.ts
  client/src/components/drawer/Drawer.tsx
  client/src/components/drawer/DrawerMenuItem.tsx
  client/src/pages/administrator/invoice/InvoiceOverview.tsx
  client/src/pages/commission/HomePageCommission.tsx
  client/src/types/graphql-types.ts
Labels: client

#271 Fix/Client accountant Delete semicolon, change of title, table enlargement, hidden slidder
  client/src/components/displayBudgetByCommissionForAccountant/DisplayBudgetByCommissionForAccountant.tsx
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/pages/accountant/HomePageAccountant.tsx
Labels: client

#275 S10 us172 as an accountant reject an invoice and add a notification to be sent by email
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/invoice/rejectInvoice.entity.ts
  api_data/src/utilities/emailUtils.ts
  api_email/src/index.ts
  api_email/src/views/email-template-invoice.ejs
  client/src/pages/accountant/DetailInvoice.tsx
  client/src/schema/mutations.ts
  client/src/types/graphql-types.ts
Labels: api_data, api_email, client

#274 S11 US273 see yearly bank balances
  api_data/src/db/seed_dataset.ts
  api_data/src/invoice/invoice.resolver.ts
  api_data/src/invoice/invoice.schema.ts
  client/src/components/budgetOverview/BudgetOverview.tsx
  client/src/components/budgetOverview/YearlyBalance.tsx
  client/src/main.tsx
  client/src/pages/administrator/HomePageAdministrator.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
  client/src/utils/chartsUtils.ts
Labels: api_data, client

#278 fix/client: user could not be updated
  client/src/pages/administrator/user/UserForm.tsx
Labels: client

#286 S11 us276 members by commission pie chart
  client/src/App.tsx
  client/src/components/PieChartUserDIstribution.tsx
  client/src/components/budgetGaugeChart/BudgetGaugeChart.tsx
  client/src/components/budgetOverview/BudgetOverview.tsx
  client/src/components/budgetOverview/YearlyBalance.tsx
  client/src/components/displayBalanceBankAccountForAdmin/displayBalanceBankAccountForAdmin.tsx
  client/src/components/drawer/Drawer.tsx
  client/src/components/user/UserDistribution.tsx
  client/src/pages/administrator/HomePageAdministrator.tsx
Labels: client

#288 Refactoring code for use of a button Pagination with an isolated component
  client/src/components/BtnPagination.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#291 Test integration button pagination
  client/src/components/btnPagination/BtnPagination.integration.test.tsx
  client/src/components/btnPagination/BtnPagination.tsx
  client/src/pages/administrator/user/ManageUser.tsx
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#292 refactor/client: disabled users are shown with lightgrey background
  client/src/components/user/UserRow.tsx
Labels: client

#297 fix/api_email: conflict with api_data PORT variable solved
  api_email/.env_sample
  api_email/src/index.ts
Labels: api_email

#303 Even bank accounts balances
  api_data/src/db/seed_dataset.ts
  client/src/components/bank/BankAccountRow.tsx
Labels: api_data, client

#304 Refactor users list order
  api_data/src/user/user.resolver.ts
  client/src/components/user/UserRow.tsx
  client/src/pages/administrator/user/ManageUser.tsx
Labels: api_data, client

#306 fix order categories
  api_data/src/category/category.resolver.ts
Labels: api_data

#307 Fix/Client admin fix colors for yearly balance
  client/src/components/budgetOverview/YearlyBalance.tsx
Labels: client

#308 Fix/Client accountant fix colors and title for display Budget By Commission
  client/src/components/displayBudgetByCommissionForAccountant/DisplayBudgetByCommissionForAccountant.tsx
Labels: client

#311 S11 us310 view invoice
  api_data/src/invoice/invoice.resolver.ts
  client/src/components/invoiceOverview/InvoiceRow.tsx
  client/src/pages/administrator/invoice/InvoiceOverview.tsx
  client/src/schema/queries.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#313 S11 us312 edit user pwd
  api_data/src/user/user.resolver.ts
  client/src/pages/administrator/user/UserForm.tsx
  client/src/schema/mutations.ts
  client/src/types/graphql-types.ts
Labels: api_data, client

#314 Feat/Client accountant condition if no invoices to display
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
Labels: client

#317 Fix/Client - Number invoice in detail invoice
  client/src/pages/accountant/DetailInvoice.tsx
Labels: client

#318 refactor/api_upload: invoice number takes the year of the invoice date now
  api_upload/app/routes.php
Labels: api_upload

#319 refactor/api_data: removed claire simon from the admin and commission
  api_data/src/db/seed_dataset.ts
Labels: api_data

#320 refactor/client: commission homepage
  client/src/pages/commission/HomePageCommission.tsx
Labels: client

#321 Fix/Client modification layout detail invoice for accountant
  client/src/pages/accountant/DetailInvoice.tsx
Labels: client

#322 refactor/api_data: added new users
  api_data/src/db/seed_dataset.ts
Labels: api_data

#324 refactor/client: responsive login
  client/src/pages/Login.tsx
Labels: client

#325 refactor/client: exercise in header
  client/src/components/header/Header.tsx
  client/src/context/AuthContext.tsx
Labels: client

#327 Fix/Client Accountant display invoices with chipstyles for status and rename Detail by Detail & Actions
  client/src/components/displayInvoicesForAccountant/displayInvoicesForAccountant.tsx
Labels: client
